.models{
  background-image: url(../../assets/Models.png);
}

.cardDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* padding: 5px; */
    margin-top: -40px;
    flex-wrap: wrap;
}

.models-pic {
  width: 100%;
  height: 710px;
  margin-top: 85px;
  object-fit: cover;
  /* The image used */
  /* background-image: url(../../assets/Models.png); */
  /* Set a specific height */
  /* min-height: 750px;  */
  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;  */
  /* background-position: center;  */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

@media screen and (max-width:1000px){
  .cardDiv{
    flex-direction: column;
  }
}

