.models{
  background-image: url(../../assets/Models.png);
}

.cardDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* padding: 5px; */
    margin-top: -40px;
}

@media screen and (max-width:1000px){
  .cardDiv{
    flex-direction: column;
  }
}