.models{
  background-image: url(../../assets/Models.png);
}

.cardDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* padding: 5px; */
    margin-top: -40px;
    flex-wrap: wrap;
}

.models-pic {
  width: 100%;
  height: 750px;
  /* margin-top: 70px; */
  object-fit: cover;
  /* The image used */
  background-image: url(../../assets/Models.png);
  /* Set a specific height */
  min-height: 790px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed; 
  background-position: top; 
  background-repeat: no-repeat;
  background-size:auto;
}

@media screen and (max-width:1000px){
  .cardDiv{
    flex-direction: column;
  }
}

